/target
/build
/classes
/checkouts
pom.xml
pom.xml.asc
/.env
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignosxAQZre
.hg/
/.idea/
/node_modules/
/figwheel_server.log
/district-designer.iml
/.node-xmlhttprequest-sync-*
/npm-debug.log
/config.edn
/dev-server/
/server/
/dev-tests/
district-designer-tests/
/browser-tests/
/smart-contracts-tests/
/server-tests/
resources/public/js/compiled/
resources/public/contracts/build/